*{
    list-style:none;
    text-decoration: none;
}
body{
    padding: 0.5% 1%;
}
.all-page{
    height: 600px;
    width: 100%;
}
.wall{
    position: relative;
    width: 100%;
    height: 75%;
    border: solid 1px rgb(204, 204, 204);
    overflow: hidden;
}
.form{
    position: relative;
    width: 30%;
    height: 20%;
    margin: 0 auto;
}
.txt{
    padding: 1%;
    margin: 3%;
    width: 90%;
    height: 23%;
    border-radius: 3px;
    border: solid 1px rgb(204, 204, 204);
}
.txt:focus{
    outline:none;
}
.butt{
    box-shadow: none;
    outline: none;
    width: 35%;
    height: 25%;
    border-radius: 3px;
    background-color: transparent;
}

#shut{
    margin-left: 13%;
    border: solid 1px #dd0000;
    color: #dd0000;
    margin-right: 1%;
}
#clean{
    border: solid 1px rgb(176, 168, 165);
    color: rgb(176, 168, 165);
}
@-webkit-keyframes nice {
    0%   {left:0px;}
    100% {left:-960px;}
}
.div-element{animation-name:nice;
    animation-duration:4s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    animation-fill-mode:forwards;
    /*animation-play-state:running;}*/



